@using RecipeBook.ViewModels.Home
@model HomeViewModel
    
@{
    ViewData["Title"] = "Home";
}

@if (Model.Recipes == null || Model.Recipes.Count <= 0)
{
    <h3>You have no recipes!</h3>
    <p><a asp-controller="Home" asp-action="Create">Create recipe</a></p>
}

@foreach (var recipe in Model.Recipes)
{
    <div>@recipe.Name</div>
}